<!-- start widget -->
<section  id="cp-contacts"  class="widget">
	<span><h5>Contacts</h5></span>
	<div class="cp-contacts">
		<p>Want to get in touch? Shoot me an email at the address below.</p>
		<p class="sidebar-email"><i class="fa fa-envelope-o"></i><a href="mailto:info@nixdebt.net">info@nixdebt.net</a></p>
	</div>
</section>
<!-- end widget -->